<!DOCTYPE html>
<html>

<head>
    <title>Mass-Mail Dispatcher</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            margin: 20px;
        }

        h1 {
            color: #333;
        }

        p {
            color: #555;
        }

        /* Custom-styled file input */
        .file-input-container {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }

        .file-input {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            cursor: pointer;
        }

        .file-input-label {
            background-color: #4285f4;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .file-input-label:hover {
            background-color: #3367d6;
        }

        button {
            background-color: #4285f4;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
        }

        button:hover {
            background-color: #3367d6;
        }

        h2 {
            color: #333;
            margin-top: 20px;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            padding: 5px 0;
        }

        .valid {
            color: green;
        }

        .invalid {
            color: red;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1 class="mt-4">Mass-Mail Dispatcher</h1>
        <p class="text-muted">Select a CSV file containing email addresses:</p>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <input type="file" name="file" class="form-control" id="fileInput" accept=".csv" required>
            </div>
            <button class="btn btn-primary">Upload</button>
        </form>
        <form action="/sendemails" method="post">
            <div style="display: flex;">
                <h2 class="mt-4">Valid Email Addresses</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary" style="margin-top: 20px;"> Send Email</button>
            </div>
            <ul id="validEmailList">
                
                {{#each validEmails}}
                <input type="hidden" name="validEmails[]" value="{{this}}">
                <li>{{this}}</li>             
                {{/each}}
            </ul>
        </form>
        <h2 class="mt-4">Invalid Email Addresses</h2>
        <ul id="invalidEmailList">
            {{#each invalidEmails}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</body>

</html>